*{
	padding: 0px;
	margin: 0px;

	font-family: campton;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face{font-family: gradies;src: url(../fonts/Gradies.otf);}
@font-face{font-family:campton;src: url(../../fonts/campton.otf);};

@keyframes slider { from {transform: translate3d(-5%, 0, 0); width: 0px; opacity: 0; visibility: hidden;} to {transform: translate3d(0, 0, 0); width: 300px; opacity: 1; visibility: visible;}}
@-moz-keyframes slider { from {transform: translate3d(-5%, 0, 0); width: 0px; opacity: 0; visibility: hidden;} to {transform: translate3d(0, 0, 0); width: 300px; opacity: 1; visibility: visible;}}
@-webkit-keyframes slider { from {transform: translate3d(-5%, 0, 0); width: 0px; opacity: 0; visibility: hidden;} to {transform: translate3d(0, 0, 0); width: 300px; opacity: 1; visibility: visible;}}

@keyframes backslider { from {transform: translate3d(0, 0, 0); width: 300px; opacity: 1; visibility: visible;} to {transform: translate3d(-1%, 0, 0); width: 0px; opacity: 0; visibility: hidden;}}
@-moz-keyframes backslider { from {transform: translate3d(0, 0, 0); width: 300px; opacity: 1; visibility: visible;} to {transform: translate3d(-1%, 0, 0); width: 0px; opacity: 0; visibility: hidden;}}
@-webkit-keyframes backslider { from {transform: translate3d(0, 0, 0); width: 300px; opacity: 1; visibility: visible;} to {transform: translate3d(-1%, 0, 0); width: 0px; opacity: 0; visibility: hidden;}}

@keyframes vanish { from { opacity: 1; } to { opacity: 0; }}
@-moz-keyframes vanish { from { opacity: 1; } to { opacity: 0; }}
@-webkit-keyframes vanish { from { opacity: 1; } to { opacity: 0; }}


hr{
	border: 1px solid whitesmoke; 
	margin: 10px 0px 12px;
}

.slidermen{
	animation-name: slider;
	-moz-animation-name: slider;
	-webkit-animation-name: slider;	

    animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;		

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; 		
}

.backslidermen{
	animation-name: backslider;
	-moz-animation-name: backslider;
	-webkit-animation-name: backslider;	

    animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;		

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; 		
}

#wrapper{
	background: whitesmoke;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#baseframe{
	height: 99.5%;
	width: 99.5%;

	background-image: linear-gradient(170deg, #f6d365 0%, #fda085 100%);

	margin: 0px auto;
	padding: 1px;

/*	position: static;
	z-index: 0;*/

	/*box-shadow: 0px 0px 25px orange;
	-moz-box-shadow: 0px 0px 25px orange;
	-webkit-box-shadow: 0px 0px 25px orange;*/
}

#sidebar{
	height: 99.5%;
	width: 350px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background: whitesmoke;
	background-image: linear-gradient(170deg, white 0%, white 100%);
	margin: 0px auto;
	padding: 0px 0px 0px;

}

#slidemenu{
	height: 99.33%; 
	width: 300px; 

	background: #FF9400;
	background-image: linear-gradient(120deg, #FF9A00 0%, #FE5945 100%);

	border: 1px solid #fda085;
	margin: 0px auto; 

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	

	position: absolute; 
	left: calc(50% - 175px); 

	visibility: hidden; 
	opacity: 0;

	z-index: 4; 
}

#cross{
	height: 15px; 
	width: 20px; 

	border: 0px solid whitesmoke; 
	color: whitesmoke; 
	background: url(../../images/icons/back.png);
	background-size: contain;
	background-repeat: no-repeat;

	font-size: 22px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		

	float: right; 
	margin: 20px 15px 0px 0px; 
	padding: 3px;

	cursor: pointer; 

	text-align: center;
	vertical-align: middle;
}

#menutabs{
	width: 95%;
	height: 40px;

	border: 0px solid lightgrey;
	text-align: center;
	line-height: 40px;

	margin: 2px auto;
	background: rgba(0,0,0,0.1);
	color: whitesmoke;

	font-family: calibri;
	cursor: pointer;
}

#mainbar{
	height: 100%;
	width: 640px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	display: inline-block;
	vertical-align: top;
	background: rgba(253,153,0,0);
}


/**/

#frame1{
	height: 80%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	padding-top: 30px;
}

#menu{
	width: 100%;
	height: 60px;

	background: #FF9400;
	background-image: linear-gradient(170deg, #FF9A00 0%, #FE5945 100%);
}

.leftmenu{
	width: 16%;
	height: 20px;

	border: 0px solid white;
	padding: 10px 0px;
	margin-top: 8px;

	text-align: center;
	cursor: pointer;

	display: inline-block;
	vertical-align: top;
}

#menuimg{
	height:100%; 
	width: 50%;

	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.titlebox{
	height: 20px;
	width: 62%;

	color: red;
	font-family: courier;
	font-weight: bold;

	border: 0px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	padding: 10px 0px;
	margin-top: 8px;	

	text-align: center;
	cursor: pointer;

	display: inline-block;
	vertical-align: top;
}

#label{
	width: 80%; 
	color: lightgrey;
	font-family: campton;
	font-size: 14px;
	text-align: left; 
	margin: 0px auto 0px;
}

.flowcard{
	width: 150px;
	height: 10px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background-image: linear-gradient(150deg, white 70%, whitesmoke 100%);
	color: grey;

	display: inline-block;
	vertical-align: top;

	font-family: calibri;
	font-weight: bold;

	margin: 10px 5px;
	padding: 10px 0px 20px;

	box-shadow: 0px 1px 4px lightgrey;
	-moz-box-shadow: 0px 1px 4px lightgrey;
	-webkit-box-shadow: 0px 1px 4px lightgrey;

	cursor: pointer;
	text-align: center;
}

.flowcard p{
	margin-top: 40px;
}

/**/


/* frame2a -s  */

input[type=text]{
	width: 80%;
	height: 40px;

	padding: 2px 3px;
	padding-left: 8px;
	margin: 3px auto;

	border: 1px solid whitesmoke;
/*	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/

	border: none;
	border-bottom: 1px solid lightgrey;	

}

input[type=number]{
	width: 200px;
	height: 40px;

	padding: 0px 3px 0px;
	padding-left: 8px;
	margin: 0px auto;
	

	border: 1px solid whitesmoke;
/*	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/

	border: none;
	border-bottom: 1px solid lightgrey;	

}

::-webkit-inner-spin-button { display: none; }

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}*/

input[type=radio]{
}

input[type=date]{
	width: 80%;
	height: 40px;

	padding: 2px 3px 2px 8px;
	margin: 5px auto;
	text-transform: uppercase;

	font-family: arial;
	color: grey;
	
	border: none;
	border-bottom: 1px solid lightgrey;
}

input[type=submit]{
	width: 75%;
	height: 40px;

	background: linear-gradient(90deg, #FD9B18 0%, #FE6159 100%);
	color: white;

	margin: 25px auto;

	border: 0px solid whitesmoke;
	box-shadow: 0px 1px 1px 1px lightgrey;
	-moz-box-shadow: 0px 1px 1px 1px lightgrey;
	-webkit-box-shadow: 0px 1px 1px 1px lightgrey;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	cursor: pointer;
	display: inline-block;
}

input[type=email], input[type=password]{
	width: 80%;
	height: 40px;

	padding: 2px 3px;
	padding-left: 8px;
	margin: 5px auto;

	border: none;
	border-bottom: 1px solid lightgrey;
}

input[type=password]{
	font-family: arial;
}

textarea:focus, input:focus{
    outline: none;
}

select{
	width: 80%;
	height: 40px;

	border:none;
	border-bottom: 1px solid lightgrey;

	outline:none;
	padding-left: 8px;
}

#transprice{
	width: 80px;
	height: 40px;

	font-size: 16px;
	border-radius: 0px;

	padding: 2px;

	background: transparent;
	color: grey;

	text-align: center;
}

#transprice::-webkit-inner-spin-button, 
#transprice::-webkit-outer-spin-button {  

   display: block;
   visibility: visible;

   height: 30px;

}

#logsub{
	margin: 10px 50px 0px 50px;
}

#reglink{
	border: none; 
	color: black; 
	font-weight: normal;
	cursor: pointer;

	text-decoration: underline; 
	text-decoration-style: solid; 
	text-underline-position: under; 
}

#sociallog{
	width: 70%; 
	background: white; 

	margin: 0px auto;
	padding: 10px 5px; 

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#terms{
	width: 200px;
	font-family: arial;
	font-size: 12px;
	margin: 10px auto;
}


#destination-form, #transtype-form, #zone-form, #dimensions-form, #price-form{
	border: 1px solid transparent;
	text-align: center;
}

#transtype-div{
	width: 180px;

	border: 20px solid white;
	background: white; 

	text-align: left; 
	overflow: visible; 

	margin: 0px auto;
	padding-left: 10px;
}

.backbutton{
	width: 70%;
	height: 26px;

	margin: 0px auto 50px;
	padding-top: 10px;

	font-size: 15px;
	color: grey;

	border: 1px solid grey;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	cursor: pointer;
	display: inline-block;

	vertical-align: middle;
}


/* frame2a -e */

.info{
	height: 18px;
	width: 18px;

	background-image: url(../../images/icons/info-orng.png);
	background-size: contain;
	background-repeat: none;
	background-position: 100% 100%;

	display: inline-block;
	vertical-align: middle;
	
	cursor: pointer;
	margin-top: -3px;
}

#footframe{
	height: 50px;
	width: 100%;

	background: orangered;
	color: white;

	opacity: 0.5;
	box-shadow: 0px 0px 2px 3px orangered;
	-moz-box-shadow: 0px 0px 2px 3px orangered;
	-webkit-box-shadow: 0px 0px 2px 3px orangered;
}

/*//dimensions.php*/

.dimbox{
	width: 40%;
	height: 100px;

	background: #FE7C4C;
	color: white;

	padding: 10px 0px;
	margin: 3px 2px;

	display: inline-block;
	vertical-align: top;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	cursor: pointer;

	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}

.dimbox:hover{
	opacity: 0.8;
}


/*//summary.php*/

.subxbutton{
	width: 70%;
	height: 40px;

	background: #E95A62;
	color: white;

	margin: 25px auto;

	border: 0px solid whitesmoke;
	box-shadow: 0px 1px 1px 1px lightgrey;
	-moz-box-shadow: 0px 1px 1px 1px lightgrey;
	-webkit-box-shadow: 0px 1px 1px 1px lightgrey;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	cursor: pointer;
	display: inline-block;
}

.backxbutton{
	width: 70%;
	height: 38px;

	margin: 0px auto 50px;

	font-size: 14px;
	color: grey;

	border: 1px solid grey;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	cursor: pointer;
	display: inline-block;

	vertical-align: middle;
}

/*//profile.php*/

#pcard{
	width: 280px;
	height: auto;

	background: white;
	background-image: linear-gradient(170deg, white 50%, whitesmoke 100%);

	border: 1px solid whitesmoke;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	padding: 10px;
	margin: 0px auto;
	box-sizing: border-box;
}

#usercard{
	width: 100%;
	height: 100px;

	border: 1px solid transparent;

	box-sizing: border-box;
	margin: 0px auto;
	padding: 10px;
}

#notifbutton{
	width: 200px;
	height: 40px;

	border: 1px solid royalblue;
	color: royalblue;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-sizing: border-box;
	margin: 0px auto;
	padding: 10px 5px 5px;

	cursor: pointer;
}

#logoutbut{
	width: 100px;
	font-size: 14px;

	border: 1px solid grey;
	color: grey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-sizing: border-box;
	margin: 0px auto;
	padding: 2px 3px 2px;	

	cursor: pointer;
}

/*//notifications.php*/

#notifbar{
	width: 100%;
	height: 100%;

	background: white;
	background-image: linear-gradient(170deg, white 50%, whitesmoke 100%);

	box-sizing: border-box;
	padding: 1px;
	margin: 0px auto;

	overflow-y: scroll;
	overflow-x: clip;
}

.notif{
	width: 95%;
	height: 90px;

	background: whitesmoke;
	border-bottom: 1px solid lightgrey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	
	cursor: pointer;
	margin: 10px auto;
}

.notifdetails{
	width: 70%;
	height: 100%;

	display: inline-block;
	vertical-align: top;

	border: 0px solid red;
	box-sizing: border-box;
	padding: 10px 10px;

	font-size: 13px;
	text-align: left;

}

#dot{
	height: 8px; 
	width: 8px; 

	background: orangered; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		

	float: right; 
	clear: both; 

	margin: 10px 10px;
}

.chatarea{
	width: 25%;
	height: 90%;

	display: inline-block;
	vertical-align: middle;

	border: 0px solid green;
	box-sizing: border-box;
	padding: 18px 10px; 

	margin-top:4px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
}

.chatbutton{
	width: 60px;
	height: 40px;

	background: royalblue;
	color: whitesmoke;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	box-sizing: border-box;
	padding: 11px 5px;
	margin: 0px auto;

	cursor: pointer;
}

/*//pricing.php*/

.resnotif{
	width: auto; 
	height: auto; 	

	font-size: 14px; 
	text-align: left;

	border-bottom: 1px solid lightgrey;
	padding: 5px 10px; 

	cursor: pointer;
}

.resads{
	width: auto; 
	height: auto; 	

	font-size: 14px; 
	text-align: left;

	border: 1px solid whitesmoke;
	border-bottom: 1px solid lightgrey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;


	padding: 0px 0px; 
	margin: 10px 4px;

	cursor: pointer;
	background: white;
}

#prc{
	border: 1px solid lightgrey;
	color: grey;

	background: white;
	font-size: 14px;

	float: right;
	padding: 3px 4px 0px;
	margin-top: -70px;	

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
}

#prc_pr{
	border: 1px solid lightgrey;
	color: grey;

	background: white;
	font-size: 14px;

	float: right;
	margin-right: 5px;
	margin-bottom: 5px;

	padding: 3px 4px 0px;
	margin-top: -70px;	

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
}

#maincard{
	width:100%; 
	height:60px; 

	background: #D6F1F9; 
	box-sizing: border-box; 
	padding: 10px 15px;

	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;

	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;

}

#topcard{
	width: 80%; 

	padding: 8px 5px 5px;
	margin: 0px auto 5px; 

	background: whitesmoke; 
	color: grey;
	font-size: 15px;	

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

}

#carddp{
	height: 38px; 
	width: 38px; 

	float: left; 
	border: 1px solid orange; 

	border-radius: 19px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;

	margin-right: 10px;
	margin-top: -3px;

	background-image: url(../../images/pakango-trans2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 130% 100%;	
}

#chatdp{
	display: inline-block; 
	vertical-align: top; 

	height: 40px; 
	width: 40px; 

	border: 1px solid orange; 
	margin-right: 10px;

	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;	

	background-image: url(../../images/pakango-trans2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 130% 100%;
}

#loginlogo{
	height: 70px; 
	width: 70px; 

	border-radius: 38px; 
	border: 3px solid orange; 

	background: red; 
	background-image: url(../../images/pakango-trans3.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 130% 100%;	

	margin: -40px auto 0px;
}

.bookbtn{
	background: orangered; 
	color: whitesmoke;
	float: right; 

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		

	margin-top: -25px; 
	padding: 8px 12px 5px; 

	cursor: pointer;
}

/*//chat.php*/

#dispcard{
	width: 100%;
	height: 180px;

	background: whitesmoke;

	box-sizing: border-box;
	padding: 11px 5px 5px;
	margin: 0px auto;	
}

#sender{
	width: 100%;
	height: 55px;

	background: white;
	color: grey;
}

#inparea{
	width: 80%;
	height: 100%;

	float: left;

	box-sizing: border-box;
	border: 0px solid lightgrey;
	padding: 0px 10px;
}

#sendarea{
	width: 20%;
	height: 100%;

	float: right;
	background: royalblue;
	color: whitesmoke;

	box-sizing: border-box;
	padding: 16px 10px; 

	cursor: pointer;	
}

/*//status.php*/

.statusbox{
	width: 120px;
	height: 20px;

	line-height: 20px;
	box-sizing: ;

	padding: 5px;
	margin: 0px auto 10px;

	border: 0px solid red;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.requested{
	background: lightgrey;
	color: grey;
}

.accepted{
	background: limegreen;
	color: whitesmoke;
}

.declined{
	background: #ff0500;
	color: whitesmoke;

	opacity: 0.7;
}

.accept{
	background: royalblue;
	color: whitesmoke;
}

/*//active.php*/

.actbx{
	width: 80%;
	font-style: italic;

	border: 1px solid lightgrey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	margin: 10px auto;
	padding: 10px 3px;	

	cursor: pointer;
}

/*//objects.php*/

#obj{
	width: 100px;
	border-bottom: 1px solid grey;

	background: white;
	color: grey;

	padding: 3px 0px 2px;
	margin: 20px auto 10px;

	font-size: 12px;
	font-style: normal;
}

#objectbox{
	margin-top: 10px; 
	border: 1px solid whitesmoke; 

	width: 90%; 
	margin: 10px auto 0px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

#numcon{
	width: 80%; 

	border: 1px solid lightgrey; 

	padding: 20px; 
	margin: 10px auto;
}

#numconmsg{
	width: 70%; 
	
	color: grey; 
	font-size: 12px; 

	margin: 0px auto;
}

/*payx.php*/

#showcard{
	width: 90%;
	height: auto;

	border: 1px solid lightgrey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	text-align: left;
	padding: 10px 20px;
	margin: 0px auto;
	box-sizing: border-box;	
}

#paycard{
	width: 90%;
	height: auto;

	border: 1px solid lightgrey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	text-align: left;
	padding: 10px 20px;
	margin: 0px auto;
	box-sizing: border-box;	
}

#prcx{
	border: 1px solid lightgrey;
	color: grey;

	background: white;
	font-size: 14px;

	float: right;
	padding: 3px 5px 2px;
	margin-top: -70px;	

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
}

#prcx_pr{
	border: 1px solid lightgrey;
	color: grey;

	background: white;
	font-size: 14px;

	float: right;
	margin-right: 5px;
	margin-bottom: 5px;

	padding: 3px 5px 2px;
	margin-top: -70px;	

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
}

.basebutton{
	height: 35px;
	width: 200px;

	background: linear-gradient(120deg, orangered 50%, orange 100%);
	color: whitesmoke;

	border: none;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;

	padding: 5px 0px 2px;
	margin: 20px auto;

	outline: none;

	cursor: pointer;
	display: block;
}

#sux{
	height: 20px;
	width: 200px;

	color: green;
	background: limegreen;

	line-height: 22px;
	padding: 4px 5px 3px;
	margin: 20px auto;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}


/* ##################################### */

#uinput_container { width: 80%; border: 0px solid red; position:relative; padding:0; margin:0px auto; }
#uinput { width: 100%; box-sizing: border-box; padding-right: 42px; }
#uinput_img { position:absolute; bottom:15px; right:10px; width:20px; height:20px; }

#einput_container { width: 80%; border: 0px solid red; position:relative; padding:0; margin:0px auto; }
#einput { width: 100%; box-sizing: border-box; padding-right: 42px; }
#einput_img { position:absolute; bottom:15px; right:10px; width:20px; height:20px; }

#cinput_container { width: 80%; border: 0px solid red; position:relative; padding:0; margin:0px auto; }
#cinput { width: 100%; box-sizing: border-box; padding-right: 42px; }
#cinput_img { position:absolute; bottom:15px; right:10px; width:20px; height:20px; }

#hintText{ width: 80%; color: orangered; font-size: 14px; box-sizing: border-box; padding: 3px 10px; margin: 10px auto 0px; }
#hintText2{	width: 80%; color: orangered; font-size: 14px; box-sizing: border-box; padding: 3px 10px; margin: 10px auto 0px; }
#hintText3{	width: 80%; color: lightgrey; font-size: 14px; box-sizing: border-box; padding: 3px 10px; margin: 10px auto 0px; }

/* ##################################### */

#prbox{
	width: 80%; 

	background: whitesmoke; 
	padding: 20px 0px; 
	margin: 0px auto;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

#prlist{
	font-size: 14px;
	color: grey;
}

.messenger{
	width: 200px;
	height: auto;

	background: linear-gradient(170deg, white 30%, whitesmoke 100%);
	color: orangered;

	font-family: calibri;
	font-size: 14px;

	margin: 10px auto;

	box-sizing: border-box;
	text-align: center;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	position: absolute;
	z-index: 3;
	left: calc(50% - 100px);
	top: 80px;	

	opacity: 0;

	animation-name: vanish;
	-moz-animation-name: vanish;
	-webkit-animation-name: vanish;	

	animation-delay: 3s;
	-moz-animation-delay: 3s;
	-webkit-animation-delay: 3s;    

    animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;		

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; 		
}

#mod{
	border: 1px solid lightgrey;
	background: whitesmoke;

	color: grey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	padding: 10px 10px 8px;	
	margin: 2px;
	outline: none;
}

#conf{
	border: 1px solid lightgrey;
	background: linear-gradient(90deg, #FD9B18 0%, #FE6159 100%);

	color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	padding: 10px 10px 8px;		
	margin: 2px;
	outline: none;
}

.checkfil{
	width: auto;
	height: 25px;

	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	text-align: left;
	line-height: 25px;

	box-sizing: border-box;
	padding: 0px 5px;

	background: whitesmoke;
	border: 2px solid #ededed;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
}

.sharer{
	height: 30px;
	width: 200px;

	background: linear-gradient(90deg, #FD9B18 0%, #FE6159 100%);
	color: whitesmoke;

	line-height: 30px;
	margin: 10px auto;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;

	cursor: pointer;		
}